body {
    background-color: white;
}
.avatar {
    width: 25%;
    margin: 5% 37%;
}
.btn-outline-success {
    border:2px solid #F768FF !important;
    color: #F768FF !important;
}
.btn-primary {
    background-color: #0E0C7B !important;
    border: none !important;
}
.startup {
    font-size: 25px;
}
.device {
    margin: 5% 12.5%;
}
.about {
    background-color: #0E0C7B;
    color: whitesmoke;
}
.aboutDiv {
    padding-bottom: 50% !important;
}
h6 {
    color: hsl(297, 100%, 70%) !important;
}
li {
    margin-left: -40px !important;
    list-style: none;
    margin: auto;
}
.cardSec {
    position: relative;
    top: -180px;
}
.service {
    width: 21rem !important;
}
.seeMore {
    padding: 5px;
    border-radius: 20px;
    width: 180px !important;
    border: 2px solid #F768FF;
    background-color: transparent;
    color: #F768FF;
    margin: auto;
    text-decoration: none;
}
.seeMore2 {
    padding: 5px;
    border-radius: 20px;
    width: 120px !important;
    border: 2px solid #F768FF;
    background-color: transparent;
    color: white;
    margin: auto;
    text-decoration: none;
}
.d-grid {
    background-color: #0E0C7B  !important;
}
.connect {
    margin-top: 50px;
    background-color: #050441;
    border-radius: 20px;
    color: white;
    
}
.project {
    border-radius: 0 !important;
}
footer {
    background-color: #0E0C7B;
}
@media screen and (min-width:700px) {
    .cardSec {
        position: relative;
        top: -30px;
    }
    
    h5 {
        font-size: 25px !important;
    }
    .startup {
        font-size: 35px;
    }
    h6 {
        font-size: 25px;
    }
    p h6 {
        font-size: 20px;
    }
    .proud {
        font-size: 25px;
        width: 700px;
    }
}
@media screen and (min-width: 900px) {
    .cardSec {
        position: relative;
        top: -120px;
    }
    
    .proud {
        font-size: 35px;
        width: 700px;
    }
    
}
