.avatar {
    width: 25%;
    margin: 5% 37%;
}
.device {
    margin: 5% 12.5%;
}
.about {
    background-color: #0E0C7B;
    color: hsl(297, 100%, 70%);
}
.aboutDiv {
    padding-bottom: 50% !important;
}
h6 {
    color: hsl(297, 100%, 70%) !important;
}
li {
    margin-left: -40px !important;
    list-style: none;
    margin: auto;
}
.cardSec {
    position: relative;
    top: -180px;
}
.card {
    width: 20rem !important;
}
.seeMore {
    padding: 5px;
    border-radius: 20px;
    width: 180px !important;
    border: 2px solid #F768FF;
    background-color: none;
    color: #F768FF;
    margin: auto;
}
@media screen and (min-width:700px) {
    .cardSec {
        position: relative;
        top: -30px;
    }
    .card {
        width: 80%;
    }
    h5 {
        font-size: 45px;
    }
    h6 {
        font-size: 25px;
    }
    p h6 {
        font-size: 20px;
    }
}
@media screen and (min-width: 900px) {
    .cardSec {
        position: relative;
        top: -120px;
    }
    .card {
        width: 35%;
    }
}
