.avatar {
    width: 25%;
    margin: 5% 37%;
}
.device {
    margin: 5% 12.5%;
}
.about {
    background-color: #0E0C7B;
    color: hsl(297, 100%, 70%);
}
.aboutDiv {
    padding-bottom: 50% !important;
}
h6 {
    color: hsl(297, 100%, 70%) !important;
}
li {
    margin-left: -40px !important;
    list-style: none;
    margin: auto;
}
.cardSec {
    margin-top: -25%;
}
.card {
    width: 20rem !important;
}
@media screen and (min-width:700px) {
    .cardSec {
        margin-top: -15%;
    }
    .card {
        width: 80% !important;
    }
    h5 {
        font-size: 45px !important;
    }
    h6 {
        font-size: 25px !important;
    }
    p h6 {
        font-size: 20px !important;
    }
}
@media screen and (min-width: 900px) {
    .cardSec {
        margin-top: -5%;
    }
    .card {
        width: 35%;
    }
}
